.sidebar{
  position:fixed;
  top:123px;
  bottom: 0;
  width: 240px;
  height:100%;
  background: #0A2558;
  transition: all 0.5s ease;
}
.sidebar.active{
  box-sizing: border-box;
  width: 259px;
  height: 100px;
  background-color: var(--token-9c7bbc43-7fb2-4dcc-90b9-fc44549c119b, #1c2550);
  overflow: visible;
  border: 1px solid #cdadad;
}
.sidebar.active2{
  box-sizing: border-box;
  position:fixed;
  left: 10px;
  top: 200px;
  width: 325px;
  height: 100px;
  background-color: var(--token-9c7bbc43-7fb2-4dcc-90b9-fc44549c119b, #1c2550);
  overflow: visible;
  border: 1px solid #cdadad;
}
.sidebar.active3{
  box-sizing: border-box;
  position:fixed;
  top: 200px;
  width: 325px;
  height: 100px;
  background-color: var(--token-9c7bbc43-7fb2-4dcc-90b9-fc44549c119b, #1c2550);
  overflow: visible;
  border: 1px solid #cdadad;
}
.sidebar .logo-details .user_name{
  position: fixed;
  font-weight: 500;
  width: 179px;
  height: 51px;
  top:45px;
  bottom:904px;
  left:132px;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word;
  font-weight: 700;
  font-style: normal;
  font-family: "Karma", serif;
  color: #1f1e1e;
  font-size: 18px;
  letter-spacing: 0.5px;
  line-height: 1.9;

}
.sidebar .logo-details .user_name2{
  position: fixed;
  width: 148px;
  height: 26px;
  top: 83px;
  bottom: 81px;
  left:130px;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word;
  font-weight: 700;
  font-style: normal;
  font-family: "Karma", serif;
  color: #1f1e1e;;
  font-size: 18px;
  letter-spacing: 0.5px;
  line-height: 1.9;
}
.sidebar .nav-links{
  position:fixed;
  top:150px;
  box-sizing: border-box;
  width: 259px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 0px 40px 0px 40px;
  background-color: var(--token-9c7bbc43-7fb2-4dcc-90b9-fc44549c119b, #1c2550);
  overflow: visible;
  border: 1px solid #636363;

}
.sidebar .nav-links2{
  position:fixed;
  top:300px;
  left:10px;
  box-sizing: border-box;
  width: 259px;
  height:150px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 0px 40px 0px 40px;
  background-color: var(--token-9c7bbc43-7fb2-4dcc-90b9-fc44549c119b, #1c2550);
  overflow: visible;
  border: 1px solid #636363;

}
.sidebar .nav-links3{
  position:fixed;
  top:450px;
  left:10px;
  box-sizing: border-box;
  width: 259px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 0px 40px 0px 40px;
  background-color: var(--token-9c7bbc43-7fb2-4dcc-90b9-fc44549c119b, #1c2550);
  overflow: visible;
  border: 1px solid #636363;

}
.frame{
  box-sizing: border-box;
  width: 259px;
  height: 240px;
  background-color: var(--token-9c7bbc43-7fb2-4dcc-90b9-fc44549c119b, #1c2550);
  overflow: visible;
  border: 1px solid #cdadad;
}
.dashboard {
  position:fixed;
  top:60px;
  width: 292px;
  height:70px;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word;
  font-weight: 700;
  font-style: normal;
  font-family: "Karma", serif;
  color: #1899ff;
  font-size: 49px;
  letter-spacing: 0.5px;
  line-height: 1.9;
}
.sidebar .nav-links li a{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
}
.sidebar .nav-links li a.active{
  background: #081D45;
}
.sidebar .nav-links li {
  background: #081D45;
}
.sidebar .nav-links li i{
  min-width: 60px;
  text-align: center;
  font-size: 18px;
  color: #fff;
}
.sidebar .nav-links li a .links_name{
  color: #fff;
  font-size: 27px;
  font-weight: 700;
  width: 164px;
  height: 61px;
  line-height: 1.9;
  white-space: pre-wrap;
  padding: 20px;
  letter-spacing: 0.5px;
}
.action_btn3{
position:fixed;
top:600px;
left:50px;
width: 128px;
height: 50px;
padding-top: 10px;
margin: auto;
display: inline;
background-color: #1899FF;
pressedBackground: rgb(0,136,255);
border: 8px;
color:#ffffff;
}
.buttons3 {
position:fixed;
bottom:20px;
center:10px;
display: inline-block;
font-style:normal;
font-size: 27px;
background-color:rgb(0, 136, 255);
}

.home-section{
  position: relative;
  background: #f5f5f5;
  min-height: 100vh;
  width: calc(100% - 240px);
  left: 240px;
  transition: all 0.5s ease;
}
.sidebar.active ~ .home-section{
  width: calc(100% - 60px);
  left: 60px;
}
.home-section nav{
  display: flex;
  justify-content: space-between;
  height: 80px;
  background: #fff;
  display: flex;
  align-items: center;
  position: fixed;
  width: calc(100% - 240px);
  left: 240px;
  z-index: 100;
  padding: 0 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
}
.sidebar.active ~ .home-section nav{
  left: 60px;
  width: calc(100% - 60px);
}
.home-section nav .search-box{
  position: fixed;
  top: 50px;
  bottom: 917px;
  left: 417px;
  height: 30px;
  width: 350px;
  margin: 0 20px;
}
nav .search-box input{
  height: 100%;
  width: 100%;
  outline: none;
  background: #F5F6FA;
  border: 2px solid #EFEEF1;
  border-radius: 6px;
  font-size: 16px;
  padding: 0 15px;
}
.home-section nav .profile-details{
  display: flex;
  align-items: center;
  background: #F5F6FA;
  border: 2px solid #EFEEF1;
  border-radius: 6px;
  height: 50px;
  min-width: 190px;
  padding: 0 15px 0 2px;
}
nav .profile-details .admin_name{
  font-size: 15px;
  font-weight: 500;
  color: #333;
  margin: 0 10px;
  white-space: nowrap;
}
nav .profile-details i{
  font-size: 25px;
  color: #fffff;
}
.home-section .home-content{
  position: center;
  padding-top: 104px;
}
.home-content .overview-boxes{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 20px;
  margin-bottom: 26px;
}
.overview-boxes .box{
   display: flex;
  position:fixed;
  top: 200px;
  left:315px;
  bottom:205px;
  right:388px;
  justify-content: center;
  width: 306px;
  height: 136px;
  background: white;
  radius: 8px;
  border =1px;
 variant: active;
  shadow= true;
}
.overview-boxes .box-topic{
  position: fixed;
  top:240px;
  bottom: 205px;
  left: 400px;
  font-size: 16px;
  font-weight: 700;
  font-family: "Karma", serif;
  width: 59px;
  height: 20px;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-style: normal;
  line-height: 1.9;
  align-items: left; 
}
.home-content .box .number{
  position: fixed;
  top:270px;
  font-size: 28px;
  margin-top: -6px;
  font-weight: 500;
  
}
.home-content .box .cart{
  display: inline-block;
  font-size: 32px;
  height: 50px;
  width: 50px;
  background: #cce5ff;
  line-height: 50px;
  text-align: center;
  color: #66b0ff;
  border-radius: 12px;
  margin: -15px 0 0 6px;
}
.buttons {
position: fixed;
top:600px;
bottom:10px;
center:10px;
display: inline-block;
font-style:normal;
font-size: 27px;

}

 .action_btn1 {
width: 200px;
height: 50px;
padding-top: 10px;
margin: auto;
display: inline;
background-color: #1c2550;
pressedBackground: rgb(0,136,255);
border: 8px;
color:#ffffff;
}
.action_btn2 {
width: 200px;
height: 50px;
padding-top: 10px;
margin: auto;
display: inline;
background-color: #1c2550;
pressedBackground: rgb(0,136,255);
border: 8px;
color:#ffffff;
alignment: center;
}
/* left box */
.home-content .sales-boxes .recent-activity{
  width: 720px;
  height: 428px;
  background: gray;
  padding: 20px 30px;
  margin: 0 20px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  overflow: visible;
}
.rosa{
  position:fixed;
  top:520px;
  width: 90px;
  height: 28px;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word;
  font-weight: 700;
  font-style: normal;
  font-family: "Karma", serif;
  color: #000000;
  font-size: 27px;
  letter-spacing: 0.5px;
  line-height: 1.9;

}
.ashley {
  position:fixed;
  top:520px;
  left:455px;
  width: 103px;
  height: 26px;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word;
  font-weight: 700;
  font-style: normal;
  font-family: "Karma", serif;
  color: #000000;
  font-size: 27px;
  letter-spacing: 0.5px;
  line-height: 1.9;
}
.bryan {
  position:fixed;
  top:520px;
  left:600px;
  width: 107px;
  height: 36px;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word;
  font-weight: 700;
  font-style: normal;
  font-family: "Karma", serif;
  color: #000000;
  font-size: 27px;
  letter-spacing: 0.5px;
  line-height: 1.9;
}
.sarah {
  position:fixed;
  top: 520px;
  left:800px;
  width: 113px;
  height: 36px;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word;
  font-weight: 700;
  font-style: normal;
  font-family: "Karma", serif;
  color: #000000;
  font-size: 27px;
  letter-spacing: 0.5px;
  line-height: 1.9;
}
.sales-boxes .box .title{
  font-size: 24px;
  font-weight: 500;
  /* margin-bottom: 10px; */
}
.container{
  position: fixed;
  top: 400px;
  width: 256px;
  height: 49px;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word;
  font-weight: 700;
  font-style: normal;
  font-family: "Karma", serif;
  color: #000000;
  font-size: 27px;
  letter-spacing: 0.5px;
  line-height: 1.9;
}
.contacts{
  position:fixed;
  top:500px;
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 12px;
  background: #333;
}
.contacts2{
  position:fixed;
  top:500px;
  left:455px;
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 12px;
  background: #333;
}
.contacts3{
  position:fixed;
  top:500px;
  left:600px;
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 12px;
  background: #333;
}
.contacts4{
  position:fixed;
  left:800px;
  top:500px;
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 12px;
  background: #333;
}

/* Responsive Media Query */
@media (max-width: 1240px) {
  .sidebar{
    width: 60px;
  }
  .sidebar.active{
    width: 220px;
  }
  .home-section{
    width: calc(100% - 60px);
    left: 60px;
  }
  .sidebar.active ~ .home-section{
    /* width: calc(100% - 220px); */
    overflow: hidden;
    left: 220px;
  }
  .home-section nav{
    width: calc(100% - 60px);
    left: 60px;
  }
  .sidebar.active ~ .home-section nav{
    width: calc(100% - 220px);
    left: 220px;
  }
}
@media (max-width: 1150px) {
  .home-content .sales-boxes{
    flex-direction: column;
}
@media (max-width: 1000px) {
  .overview-boxes .box{
    width: calc(100% / 2 - 15px);
    margin-bottom: 15px;
  }
}
@media (max-width: 700px) {
  nav .sidebar-button .dashboard,
  nav .profile-details .admin_name,
  nav .profile-details i{
    display: none;
  }
  .home-section nav .profile-details{
    height: 50px;
    min-width: 40px;
}
@media (max-width: 550px) {
  .overview-boxes .box{
    width: 100%;
    margin-bottom: 15px;
  }
  .sidebar.active ~ .home-section nav .profile-details{
    display: none;
  }
}
  @media (max-width: 400px) {
  .sidebar{
    width: 0;
  }
  .sidebar.active{
    width: 60px;
  }
  .home-section{
    width: 100%;
    left: 0;
  }
  .sidebar.active ~ .home-section{
    left: 60px;
    width: calc(100% - 60px);
  }
  .home-section nav{
    width: 100%;
    left: 0; 
    }
  .sidebar.active ~ .home-section nav{
    left: 60px;
    width: calc(100% - 60px);
  }
}
